@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@page {
  size: letter portrait;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --decorator-horizontal-margin: 0.2in;
  --decorator-outer-offset-top: 17px;
  --decorator-outer-offset-left: -5px;
  --decorator-border-width: 1px;
  --decorator-outer-dim: 9px;
  --decorator-border: 1px solid #ccc;
  --row-blocks-padding-top: 5pt;
  --icon-offset-left: -19pt;
}

html {
  display: block;
  background-color: lightslategrey;
}

body {
  width: 8.5in;
  height: 11in;
  font: 400 7.5pt "Open Sans", sans-serif;
  line-height: 1.3;
  color: #222;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  margin: auto;
  border: 1px solid #000;
  background-color: #fff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #222;
}

h1,
h2,
h3 {
  color: #000;
  text-transform: uppercase;
}

#title h1 {
  font-weight: 500;
  font-size: 20pt;
  line-height: 1.2;
}
#title span {
  font-size: 10pt;
}

/* sidebar */
aside {
  float: left;
  width: 2.0791666667in;
  height: 100%;
  padding: 0.5in 0.25in 0.5in 0.3in;
  background-color: #f2f2f2;
}
aside #contact {
  font-size: 8pt;
  margin-top: 0.15in;
}
aside #contact i {
  margin: 6px 5px 6px 0;
}
aside #contact ul {
  font-weight: 400;
  line-height: 1.75;
}
aside #skills {
  margin-top: 0.62in;
}
aside #skills h2 {
  font-weight: 400;
  font-size: 11pt;
}
aside #skills h3 {
  font-size: 8pt;
  font-weight: 600;
  margin-top: 0.1in;
}
aside #skills ul {
  display: inline-flex;
  flex-wrap: wrap;
}
aside #skills li {
  margin: 2px 6px 3px 0px;
  background-color: #fff;
  border: 1px solid rgba(35, 35, 35, 0.2);
  border-radius: 3px;
  font-weight: 400;
  font-size: 7pt;
  padding: 4px 8px;
}

.container:not(:first-child) {
  margin-top: 0.2in;
}

main {
  float: right;
  width: 6.4in;
  height: 100%;
  padding: 0.5in 0.3in;
}
main h2 {
  position: relative;
  top: 2pt;
  left: 0.2in;
  font-weight: 400;
  font-size: 11pt;
  /**** minor tweaks on the icon fonts ****/
}
main h2 > i {
  position: absolute;
  left: var(--icon-offset-left);
  z-index: 1;
}
main h2 .fa-graduation-cap,
main h2 .fa-users {
  left: calc(var(--icon-offset-left) - 2pt);
  top: 2pt;
}
main h2 .fa-tasks-alt {
  top: 2.5pt;
}
main h2 .fa-folder-open {
  top: 1.5pt;
}
main li {
  margin: 0 0 0.025in 0.07in;
}
main li::before {
  position: relative;
  margin-left: -4.25pt;
  content: "• ";
}

.blocks {
  display: flex;
  flex-flow: row nowrap;
}
.blocks:last-child .decorator {
  margin-bottom: 0.15in;
}

.decorator {
  flex: 0 0 0;
  position: relative;
  width: 2pt;
  min-height: 100%;
  border-left: var(--decorator-border);
}
.decorator::before {
  position: absolute;
  content: " ";
  top: var(--decorator-outer-offset-top);
  left: var(--decorator-outer-offset-left);
  display: block;
  width: var(--decorator-outer-dim);
  height: var(--decorator-outer-dim);
  border-radius: calc(var(--decorator-outer-dim) / 2);
  background-color: #fff;
}
.decorator::after {
  position: absolute;
  top: calc(var(--decorator-outer-offset-top) + var(--decorator-border-width));
  left: calc(var(--decorator-outer-offset-left) + var(--decorator-border-width));
  content: " ";
  display: block;
  width: calc(var(--decorator-outer-dim) - var(--decorator-border-width) * 2);
  height: calc(var(--decorator-outer-dim) - var(--decorator-border-width) * 2);
  border-radius: calc((var(--decorator-outer-dim) - var(--decorator-border-width) * 2) / 2);
  background-color: #555;
}

#activites .details {
  padding-top: 5pt;
}
#activites .decorator::after {
  top: calc(var(--decorator-outer-offset-top) - 7px);
}
#activites .decorator::before {
  top: calc(var(--decorator-outer-offset-top) + var(--decorator-border-width) - 8.8px);
}
#activites ul {
  display: flex;
  gap: 15pt;
}

.details {
  flex: 1 0 0;
  padding-left: var(--decorator-horizontal-margin);
  padding-top: calc(var(--row-blocks-padding-top) + 5pt);
}
.details div {
  clear: both;
}
.details h3 {
  font-size: 9pt;
  font-weight: 700;
}
#Projects .details h3:not(:last-child)::after {
  font-family: "FontAwesome";
  font-size: 8pt;
  margin-left: 3pt;
  content: "\f35d";
}
.others .details li::after {
  font-family: "FontAwesome";
  font-size: 8pt;
  margin-left: 3pt;
  content: "\f35d";
}
.details .place,
.details .tools {
  float: left;
  font-size: 7.5pt;
  margin-bottom: 2pt;
}
.details .year {
  float: right;
}

.others .flex {
  display: flex;
}
.others .flex ul {
  flex: 1 0 0;
}/*# sourceMappingURL=style.css.map */